{{> components/navBar navbar=navbar}}
<div class="vibe-body">
    <div>
        {{> components/filter}}
    </div>
    <div>
        <div class="producs-vibe">
            <h1>Products</h1>
            {{> components/products products=products}}
        </div>
    </div>
</div>

<style>
    .vibe-body {
        display: flex;
        justify-content: space-between;
    }
</style>

